body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

*{
  border: 0.1em;
  border-color: black;  
  border-style: solid;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}                  

main {
  min-height: 60vh;
  flex-grow: 2;
}
  
aside {
  background-color: var(--dusty-emerald);
  flex-grow: 2;
}
  
header {
  background-color: var(--sage);
  flex-grow: 1;
}                             
  

@media (min-width: 600px) {
  .container {
  flex-direction: row;
  }
}                  

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    max-width: 70%;
  }
  aside {
    max-width: 30%;
  }
  header {
    width: 100%;
  }
}                                  
